.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: 2px solid #ec623b;
  border-radius: 5px;
  background-color: white;
  color: #ec623b;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.active {
  background-color: #ec623b;
  color: white;
}

.inactive {
  background-color: white;
  color: #ec623b;
}