
.rating {
  display: flex;
  align-items: center;
}

.forkGold {
  width: 20px; /* Adjust the width to your needs */
  height: 20px; /* Adjust the height accordingly */
  margin-right: 4px;
  filter: invert(49%) sepia(96%) saturate(1000%) hue-rotate(1deg) brightness(106%) contrast(107%);
  /* This filter creates a gold effect */
}

.forkGray {
  width: 20px; /* Keep the same size for consistency */
  height: 20px;
  margin-right: 4px;
  filter: grayscale(100%);
}

.container span img {
  margin: 0;
  width: 100px;
  height: 100px;
  opacity: .8;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid var(--border);
}



.container {
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 16px;
  margin-top: 16px; 
  width: 100%;
  max-width: 600px; 
  box-sizing: border-box;
}



h2 {
  font-size: 1.1rem; 
  margin: 12px 0 0; 
  color: #333;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px; 
}

button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  color: #007bff; 
  margin-right: 8px;
}

button:hover {
  color: #0056b3; 
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 8px 0; 
  }

  h2 {
    font-size: 1rem;
  }
}

header{
  justify-content: space-between;
}