.container {
  width: 400px;
  height: 220px;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px; 
  position: relative;
}

.container img {
  width: 175px; 
  height: 175px;
  border-radius: 10%;
  background: #ff0909;
  border: 1px solid  #2a0009aa;
  object-fit: cover;
}

.container .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0; 
  padding-right: 21px; 
}

.container .name {
  font-size: 19px;
  margin: 0;
  padding-top: 14px; 
  color: var(--primary-text-color);
}

.container .cuisine {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-top: 5px; 
}

header {
  display: flex;
  width: 100%;
  align-items: center;
}
