.container {
    gap: 14px;
    row-gap: 14px;
    width: 100%;
    padding: 21px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cuisine{
  text-align: left;
  padding-top: 40px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

}

.bars{
  min-width: 100%;
  background-color: #D77d6b;
}