.container {
    gap: 14px;
    row-gap: 14px;
    width: 100%;
    padding: 21px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media only screen and (min-width: 900px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (min-width: 1500px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }