.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 28px 21px;
  margin-top: 100px; 
}

.container input, textarea, select, button {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: 1px solid var(--border);
  font-family: canada-type-gibson, sans-serif;
}

.container textarea {
  min-height: 50px;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  color: rgb(249, 108, 0);
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}

.container a {
  border: none;
  font-size: 14px;
  background: none;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  color: rgb(200, 200, 200);
}

.container span {
  display: flex;
  align-items: center;
  margin: 7px 0px 12px 0px;
  justify-content: space-between;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}
